In [ ]:
pool_m1_cruce = pool_m1.loc[:,['contract_id','level60_operarea_id','counterpart_id','term_contract_type','customer_id','rwas_regul_capital_amount','rorc_operation_amount','rorc_last_m_cust_amount', 'prof_ratio_rorc_amount']]
pool_m1_cruce

,contract_id,level60_operarea_id,counterpart_id,term_contract_type,customer_id,rwas_regul_capital_amount,rorc_operation_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount
0,00000000000000000688636768,0058,0083,CP,012246142,"147,943.7500",0.0469,0.0231,0.0018
1,00000000000000000690777697,0058,0083,CP,064682707,"8,789.2470",0.0535,0.0667,0.0643
2,00000000000000000546767126,0058,0300,CP,000059569,"35,666.9500",-0.0200,0.0800,0.0722
3,00000000000000000546935949,0058,0300,CP,000259175,"88,081.0700",0.0094,-0.0267,0.0379
4,00000000000000000614224075,0058,0516,CP,059835368,"4,603.4050",-0.0079,-0.0504,0.0325
...,...,...,...,...,...,...,...,...,...
256,00000000000000000689221159,0058,0083,CP,000147893,"11,915.8300",-0.3605,0.0799,0.0262
257,00000000000000000689430067,0058,0083,CP,029170892,"22,688.9730",0.0276,0.0590,0.0816
258,00000000000000000691332047,0058,0083,CP,014742380,"82,676.7000",0.0715,0.0879,0.0696
259,00000000000000000692284227,0058,0083,CP,032729761,"88,180.5400",0.0675,0.0921,0.0963
260,00000000000000000692597223,8519,0083,CP,055890379,"4,140.4575",-0.2076,0.0660,0.0082

In [ ]:
pool_m.columns

Index(['contract_id', 'current_contract_id', 'level60_operarea_id',
       'counterpart_id', 'term_contract_type', 'm5_scale_master_limit_id',
       'customer_id', 'cliente_nuevo_pool', 'rating_mes', 'rating_status',
       'rating_diff', 'rating_var', 'rwas_regul_capital_amount',
       'rorc_last_m_cust_amount', 'prof_ratio_rorc_amount',
       'raroec_customer_amount', 'rorc_operation_amount',
       'raroec_operation_amount', 'pool_situation_type', 'motivo_des',
       'analisis_neg', 'cancelation_type', 'rorc_6m_cust_times_number',
       'billing_date', 'pool_customer_reg_date', 'pool_exit_date',
       'alerta_com', 'prof_ratio_rorc_amount_2', 'valid_model_id',
       'rorc_cliente', 'rorc_op', 'new_rorc_op', 'part_closing_date'],
      dtype='object')

In [ ]:
pool_m_cruce = pool_m.loc[:,['contract_id','level60_operarea_id','counterpart_id','term_contract_type','customer_id','rwas_regul_capital_amount','rorc_operation_amount','rorc_last_m_cust_amount', 'prof_ratio_rorc_amount','pool_situation_type', 'motivo_des','billing_date']]
#   .add_suffix('_SIM')
pool_m_cruce

,contract_id,level60_operarea_id,counterpart_id,term_contract_type,customer_id,rwas_regul_capital_amount,rorc_operation_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,pool_situation_type,motivo_des,billing_date
0,00000000000000000691334334,0058,0083,CP,000147893,"296,086.7500",0.0360,0.0874,0.0278,SI,CI/OI,2025-05-31
1,00000000000000000667711952,0058,0505,LP,034908347,"4,540.2500",0.0179,-0.0700,-0.0881,SI,CI/OI,2025-01-31
2,00000000000000000687067102,0058,0083,CP,034908347,"40,324.2500",-0.1071,-0.0700,-0.0881,SI,CI/OI,2025-04-30
3,00000000000000000693353710,0058,0083,CP,034908347,"18,069.6250",-0.5163,-0.0700,-0.0881,SI,CI/OI,2025-05-31
4,00000000000000000693528484,0058,0083,CP,038094323,"19,809.6250",0.0223,0.1414,0.0390,SI,CI/OI,2025-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...
445,00000000000000000695883578,0058,0083,CP,064682707,"19,997.8750",0.0862,0.0983,0.0713,NO,CI/OC,2025-06-30
446,00000000000000000695925911,0058,0083,CP,064682707,"11,047.0000",0.0645,0.0983,0.0713,NO,CI/OC,2025-06-30
447,00000000000000000519329576,0058,0511,CP,000992836,"260,829.0000",0.1751,0.1042,0.0831,NO,CI/OC,2025-06-30
448,00000000000000000492897544,0058,0516,CP,034807425,"307,073.8800",0.1109,0.0684,0.0654,NO,CI/OC,2025-06-30
449,00000000000000000697419588,0058,0010,CP,009637729,"300,069.1200",0.0639,0.0047,0.0453,NO,CI/OC,2025-06-30

men0408= pool_m1_cruce.merge(pool_m_cruce, how="outer", left_on="contract_id", right_on="contract_id", suffixes=("_m1","_m"),indicator=True)
men0408

In [ ]:
# eran SI --- y ahora son SA
menSI_SA= pool_m1_cruce.merge(pool_m_cruce, how="outer", left_on="contract_id", right_on="contract_id", suffixes=("_m1","_m"),indicator=True)\

mask_SA = menSI_SA.pool_situation_type == "SA"

menSI_SA_fin = menSI_SA.loc[mask_SA, [
    'contract_id', 'level60_operarea_id_m', 'counterpart_id_m', 'term_contract_type_m', 'customer_id_m',
    'pool_situation_type', 'motivo_des',
    'rwas_regul_capital_amount_m1', 'rwas_regul_capital_amount_m',
    'rorc_operation_amount_m1', 'rorc_operation_amount_m',
    'rorc_last_m_cust_amount_m1', 'rorc_last_m_cust_amount_m',
    'prof_ratio_rorc_amount_m1', 'prof_ratio_rorc_amount_m',
    'billing_date'
]]
menSI_SA_fin

,contract_id,level60_operarea_id_m,counterpart_id_m,term_contract_type_m,customer_id_m,pool_situation_type,motivo_des,rwas_regul_capital_amount_m1,rwas_regul_capital_amount_m,rorc_operation_amount_m1,rorc_operation_amount_m,rorc_last_m_cust_amount_m1,rorc_last_m_cust_amount_m,prof_ratio_rorc_amount_m1,prof_ratio_rorc_amount_m,billing_date
4,00000000000000000253119159,0058,0516,CP,000992836,SA,CAN/VTO,204.2575,204.2575,-1.2789,-1.2789,0.0514,0.1042,0.0970,0.0831,2025-05-31
11,00000000000000000402180472,0058,0511,CP,010228209,SA,CAN/VTO,"107,024.3900","107,024.3900",-0.0253,-0.0253,0.1262,0.0744,0.0718,0.0724,2024-05-31
17,00000000000000000439973191,0058,0516,CP,051751124,SA,CI/OC,"1,165,348.1000","810,413.4000",0.0371,0.0622,0.0483,0.0643,0.0433,0.0464,2024-11-30
20,00000000000000000483489537,0058,0516,CP,000163104,SA,CAN/VTO,"82,835.7800","82,835.7800",0.0770,0.0770,0.0585,0.0611,0.0672,0.0644,2025-05-31
22,00000000000000000493125890,0058,0516,CP,008072751,SA,CI/OC,"102,016.3050","220,305.0000",0.0553,0.0656,0.0854,0.0950,0.0942,0.0930,2025-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,00000000000000000692799495,0058,0083,CP,000992836,SA,CAN/VTO,"441,279.0000","441,279.0000",0.0507,0.0507,0.0514,0.1042,0.0970,0.0831,2025-05-31
303,00000000000000000693175198,0058,0083,CP,035201264,SA,CI/OC,"25,728.9570","25,158.0000",0.1207,0.0817,0.1123,0.0908,-0.0370,-0.0227,2025-05-31
306,00000000000000000693213071,0058,0083,CP,038094323,SA,CAN/VTO,"22,875.8180","22,875.8180",0.0670,0.0670,0.0967,0.1414,0.0285,0.0390,2025-05-31
311,00000000000000000693358004,0058,0083,CP,050180900,SA,CAN/VTO,"27,510.0980","27,510.0980",-0.0609,-0.0609,-0.0707,0.1409,-0.0994,-0.0491,2025-05-31
315,00000000000000000693513978,0058,0083,CP,050180900,SA,CAN/VTO,"13,928.2100","13,928.2100",-0.1916,-0.1916,-0.0707,0.1409,-0.0994,-0.0491,2025-05-31

In [ ]:
menSI_NO= pool_m1_cruce.merge(pool_m_cruce, how="outer", left_on="contract_id", right_on="contract_id", suffixes=("_m1","_m"),indicator=True)\

mask_NO = menSI_NO.pool_situation_type == "NO"

menSI_NO_fin = menSI_SA.loc[mask_NO, [
    'contract_id', 'level60_operarea_id_m', 'counterpart_id_m', 'term_contract_type_m', 'customer_id_m',
    'pool_situation_type', 'motivo_des',
    'rwas_regul_capital_amount_m1', 'rwas_regul_capital_amount_m',
    'rorc_operation_amount_m1', 'rorc_operation_amount_m',
    'rorc_last_m_cust_amount_m1', 'rorc_last_m_cust_amount_m',
    'prof_ratio_rorc_amount_m1', 'prof_ratio_rorc_amount_m',
    'billing_date'
]]
menSI_NO_fin

,contract_id,level60_operarea_id_m,counterpart_id_m,term_contract_type_m,customer_id_m,pool_situation_type,motivo_des,rwas_regul_capital_amount_m1,rwas_regul_capital_amount_m,rorc_operation_amount_m1,rorc_operation_amount_m,rorc_last_m_cust_amount_m1,rorc_last_m_cust_amount_m,prof_ratio_rorc_amount_m1,prof_ratio_rorc_amount_m,billing_date
0,00000000000000000190931515,0058,0511,CP,010134184,NO,CI/OC,NaN,"24,392.6250",NaN,3.0131,NaN,0.0641,NaN,0.0619,2025-06-30
1,00000000000000000242915984,0058,0516,CP,029170892,NO,CI/OC,NaN,"75,469.6250",NaN,0.1242,NaN,0.0564,NaN,0.0765,2025-06-30
2,00000000000000000252372821,0058,0516,CP,011717815,NO,CI/OC,NaN,"236,953.6200",NaN,0.0876,NaN,0.0556,NaN,0.0567,2025-06-30
3,00000000000000000252792489,0058,0516,CP,002362927,NO,CI/OC,NaN,"351,758.7500",NaN,0.1415,NaN,0.0582,NaN,0.0741,2025-06-30
5,00000000000000000257274351,0058,0516,CP,011717815,NO,CI/OC,NaN,"80,359.5000",NaN,0.0859,NaN,0.0556,NaN,0.0567,2025-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,00000000000000000697770689,0058,0083,CP,014742380,NO,CI/OC,NaN,"128,859.3750",NaN,0.0604,NaN,0.0978,NaN,0.0727,2025-06-30
440,00000000000000000697826277,0058,0083,CP,003883696,NO,CI/OC,NaN,"30,170.7500",NaN,0.0602,NaN,0.1062,NaN,0.0355,2025-06-30
442,00000000000000000697830634,0058,0083,CP,003883696,NO,CI/OC,NaN,"227,299.2500",NaN,0.0772,NaN,0.1062,NaN,0.0355,2025-06-30
445,00000000000000000698053438,0058,0083,CP,050180900,NO,CI/OC,NaN,"29,773.5000",NaN,0.0889,NaN,0.1409,NaN,-0.0491,2025-06-30
448,00000000000000000698083205,0058,0083,CP,038094323,NO,CI/OC,NaN,"9,189.2500",NaN,0.0853,NaN,0.1414,NaN,0.0390,2025-06-30

In [ ]:
menSI_SI= pool_m1_cruce.merge(pool_m_cruce, how="outer", left_on="contract_id", right_on="contract_id", suffixes=("_m1","_m"),indicator=True)\

mask_SI = menSI_SI.pool_situation_type == "SI"

menSI_SI_fin = menSI_SI.loc[mask_SI, [
    'contract_id', 'level60_operarea_id_m', 'counterpart_id_m', 'term_contract_type_m', 'customer_id_m',
    'pool_situation_type', 'motivo_des',
    'rwas_regul_capital_amount_m1', 'rwas_regul_capital_amount_m',
    'rorc_operation_amount_m1', 'rorc_operation_amount_m',
    'rorc_last_m_cust_amount_m1', 'rorc_last_m_cust_amount_m',
    'prof_ratio_rorc_amount_m1', 'prof_ratio_rorc_amount_m',
    'billing_date'
]]
menSI_SI_fin

,contract_id,level60_operarea_id_m,counterpart_id_m,term_contract_type_m,customer_id_m,pool_situation_type,motivo_des,rwas_regul_capital_amount_m1,rwas_regul_capital_amount_m,rorc_operation_amount_m1,rorc_operation_amount_m,rorc_last_m_cust_amount_m1,rorc_last_m_cust_amount_m,prof_ratio_rorc_amount_m1,prof_ratio_rorc_amount_m,billing_date
13,00000000000000000402222091,0058,0516,CP,010228209,SI,CI/OI,NaN,"871,212.7500",NaN,-0.0062,NaN,0.0744,NaN,0.0724,2025-06-30
15,00000000000000000433676095,0058,0516,CP,000163104,SI,CI/OI,"670,460.2000","550,715.0000",0.0495,0.0542,0.0585,0.0611,0.0672,0.0644,2025-05-31
18,00000000000000000454313350,0058,0300,CP,000115593,SI,CI/OI,"406,048.2800","331,653.3800",0.0198,0.0298,0.0640,0.0795,0.0604,0.0650,2025-01-31
19,00000000000000000483489070,0058,0516,CP,000163104,SI,CI/OI,NaN,"249,220.1200",NaN,0.0386,NaN,0.0611,NaN,0.0644,2025-06-30
30,00000000000000000537869112,0023,0300,CP,012225332,SI,CI/OI,"888,546.0600","389,789.0000",0.0530,0.0168,0.0998,0.0932,0.0916,0.0806,2025-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,00000000000000000698049116,0058,0083,CP,000992836,SI,CI/OI,NaN,"465,051.1200",NaN,0.0010,NaN,0.1042,NaN,0.0831,2025-06-30
444,00000000000000000698053261,0058,0083,CP,035201264,SI,CI/OI,NaN,"20,591.6250",NaN,0.0517,NaN,0.0908,NaN,-0.0227,2025-06-30
446,00000000000000000698054156,0058,0083,CP,038094323,SI,CI/OI,NaN,"24,273.0000",NaN,0.0171,NaN,0.1414,NaN,0.0390,2025-06-30
447,00000000000000000698056133,0058,0083,CP,000259175,SI,CI/OI,NaN,"93,558.6250",NaN,-0.0079,NaN,0.0487,NaN,0.0263,2025-06-30
449,00000000000000000698139548,0058,0083,CP,005609283,SI,CI/OI,NaN,"22,675.1250",NaN,-0.0615,NaN,0.0422,NaN,0.0178,2025-06-30

In [ ]:
menSI_SA_fin - menSI_NO_fin - menSI_SI_fin

In [ ]:
final=pd.concat([menSI_SA_fin, menSI_NO_fin, menSI_SI_fin], ignore_index=True)
final

,contract_id,level60_operarea_id_m,counterpart_id_m,term_contract_type_m,customer_id_m,pool_situation_type,motivo_des,rwas_regul_capital_amount_m1,rwas_regul_capital_amount_m,rorc_operation_amount_m1,rorc_operation_amount_m,rorc_last_m_cust_amount_m1,rorc_last_m_cust_amount_m,prof_ratio_rorc_amount_m1,prof_ratio_rorc_amount_m,billing_date
0,00000000000000000253119159,0058,0516,CP,000992836,SA,CAN/VTO,204.2575,204.2575,-1.2789,-1.2789,0.0514,0.1042,0.0970,0.0831,2025-05-31
1,00000000000000000402180472,0058,0511,CP,010228209,SA,CAN/VTO,"107,024.3900","107,024.3900",-0.0253,-0.0253,0.1262,0.0744,0.0718,0.0724,2024-05-31
2,00000000000000000439973191,0058,0516,CP,051751124,SA,CI/OC,"1,165,348.1000","810,413.4000",0.0371,0.0622,0.0483,0.0643,0.0433,0.0464,2024-11-30
3,00000000000000000483489537,0058,0516,CP,000163104,SA,CAN/VTO,"82,835.7800","82,835.7800",0.0770,0.0770,0.0585,0.0611,0.0672,0.0644,2025-05-31
4,00000000000000000493125890,0058,0516,CP,008072751,SA,CI/OC,"102,016.3050","220,305.0000",0.0553,0.0656,0.0854,0.0950,0.0942,0.0930,2025-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,00000000000000000698049116,0058,0083,CP,000992836,SI,CI/OI,NaN,"465,051.1200",NaN,0.0010,NaN,0.1042,NaN,0.0831,2025-06-30
446,00000000000000000698053261,0058,0083,CP,035201264,SI,CI/OI,NaN,"20,591.6250",NaN,0.0517,NaN,0.0908,NaN,-0.0227,2025-06-30
447,00000000000000000698054156,0058,0083,CP,038094323,SI,CI/OI,NaN,"24,273.0000",NaN,0.0171,NaN,0.1414,NaN,0.0390,2025-06-30
448,00000000000000000698056133,0058,0083,CP,000259175,SI,CI/OI,NaN,"93,558.6250",NaN,-0.0079,NaN,0.0487,NaN,0.0263,2025-06-30
449,00000000000000000698139548,0058,0083,CP,005609283,SI,CI/OI,NaN,"22,675.1250",NaN,-0.0615,NaN,0.0422,NaN,0.0178,2025-06-30