In [1]:
import sys
sys.path.append(r'c:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool')
from schemas import schema_pool_m, schema_pool_m1, schema_client, schema_contable
import pandas as pd
pd.options.display.max_columns = None
# pd.options.display.max_rows = 200
# pd.reset_option('display.max_rows')
pd.set_option('display.float_format', '{:,.4f}'.format)
#pd.reset_option('display.float_format')
# for an specific column
# df['your_column'] = df['your_column'].apply(lambda x: f"{x:,.2f}")
# df['your_column'] = df['your_column'].round(2)

#### lectura de datos base (pool_m, pool_m1, client, contable)

In [2]:
pool_m = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\pool_m.csv',delimiter=';',dtype=schema_pool_m)
pool_m1 = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\pool_m1.csv',delimiter=';',dtype=schema_pool_m1)
client = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\cliente.csv',delimiter=';',dtype=schema_client)
contable = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\contable.csv',delimiter=';',dtype=schema_contable)

In [3]:
pool_m

,contract_id,current_contract_id,level60_operarea_id,counterpart_id,term_contract_type,m5_scale_master_limit_id,customer_id,cliente_nuevo_pool,rating_mes,rating_status,rating_diff,rating_var,rwas_regul_capital_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,raroec_customer_amount,rorc_operation_amount,raroec_operation_amount,pool_situation_type,motivo_des,analisis_neg,cancelation_type,rorc_6m_cust_times_number,billing_date,pool_customer_reg_date,pool_exit_date,alerta_com,prof_ratio_rorc_amount_2,valid_model_id,rorc_cliente,rorc_op,new_rorc_op,part_closing_date
0,00000000000000000691334334,01821299008300000000019569,0058,0083,CP,BB-,000147893,NaN,BB-,NC,0,BB-,"296,086.7500",0.0874,0.0278,0.1202,0.0360,0.0453,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0285,MA,0.1003,0.0600,0.0600,2025-06-30
1,00000000000000000667711952,01822344050500000000190663,0058,0505,LP,B-,034908347,NaN,B-,NC,0,B-,"4,540.2500",-0.0700,-0.0881,-0.0892,0.0179,0.0246,SI,CI/OI,CN/OP,PARCIAL,6,2025-01-31,2025-01-31,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
2,00000000000000000687067102,01822344008300000000017034,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,"40,324.2500",-0.0700,-0.0881,-0.0892,-0.1071,-0.1426,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
3,00000000000000000693353710,01822344008300000000017182,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,"18,069.6250",-0.0700,-0.0881,-0.0892,-0.5163,-0.6884,SI,CI/OI,CN/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
4,00000000000000000693528484,01822342008300000000033909,0058,0083,CP,B,038094323,NaN,B,NC,0,B,"19,809.6250",0.1414,0.0390,0.1966,0.0223,0.0310,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0390,MA,0.1003,0.0600,0.0600,2025-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,00000000000000000695883578,01822376008300000000058147,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,"19,997.8750",0.0983,0.0713,0.1636,0.0862,0.1792,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0713,ME,0.1003,0.0600,0.0600,2025-06-30
446,00000000000000000695925911,01822376008300000000058154,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,"11,047.0000",0.0983,0.0713,0.1636,0.0645,0.1339,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0713,ME,0.1003,0.0600,0.0600,2025-06-30
447,00000000000000000519329576,01821299051100000000031608,0058,0511,CP,A-,000992836,NaN,BB,NC,0,BB,"260,829.0000",0.1042,0.0831,0.1731,0.1751,0.2944,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0831,NaN,0.1003,0.0600,0.0600,2025-06-30
448,00000000000000000492897544,01822324051600000000060603,0058,0516,CP,B+,034807425,NaN,B+,NC,0,B+,"307,073.8800",0.0684,0.0654,0.0882,0.1109,0.1429,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
449,00000000000000000697419588,01825473001000000000151377,0058,0010,CP,B+,009637729,NaN,B+,NC,0,B+,"300,069.1200",0.0047,0.0453,0.0060,0.0639,0.0885,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0453,MA,0.1003,0.0600,0.0600,2025-06-30

In [ ]:
# TOP 5 customers with highest regulatory capital amount with pool_situation_type = 'SI'
def five_oldest_surv(group):
    return group[group.pool_situation_type == 'SI'].nlargest(5, "rwas_regul_capital_amount")

pool_m.groupby("customer_id").apply(five_oldest_surv, include_groups=False)

                                contract_id         current_contract_id  \
customer_id
000032713   37   00000000000000000686975746  01822372008300000000030074
            185  00000000000000000696936333  01822372008300000000030649
            184  00000000000000000694261754  01822372008300000000030523
            35   00000000000000000690207454  01822372008300000000030311
            36   00000000000000000693356026  01822372008300000000030486
...                                     ...                         ...
059949867   44   00000000000000000575172005  01822338030000673422000109
            45   00000000000000000690815273  01822338008300000000019256
            189  00000000000000000696787786  01822338008300000000019498
064682707   150  00000000000000000683507011  01822376008300000000056595
            250  00000000000000000695917995  01822376008300000000058153

                level60_operarea_id counterpart_id term_contract_type  \
customer_id
000032713   37                 0058           0083                 CP
            185                0058           0083                 CP
            184                0058           0083                 CP
            35                 0058           0083                 CP
            36                 0058           0083                 CP
...                             ...            ...                ...
059949867   44                 0058           0300                 CP
            45                 0058           0083                 CP
            189                0058           0083                 CP
064682707   150                0058           0083                 CP
            250                0058           0083                 CP

                m5_scale_master_limit_id cliente_nuevo_pool rating_mes  \
customer_id
000032713   37                        B+                NaN         B+
            185                       B+                NaN         B+
            184                       B+                NaN         B+
            35                        B+                NaN         B+
            36                        B+                NaN         B+
...                                  ...                ...        ...
059949867   44                       BB+                NaN        BB+
            45                       BB+                NaN        BB+
            189                      BB+                NaN        BB+
064682707   150                       BB                NaN         BB
            250                       BB                NaN         BB

                rating_status rating_diff rating_var  \
customer_id
000032713   37             NC           0         B+
            185            NC           0         B+
            184            NC           0         B+
            35             NC           0         B+
            36             NC           0         B+
...                       ...         ...        ...
059949867   44             NC           0        BB+
            45             NC           0        BB+
            189            NC           0        BB+
064682707   150            UP           1     BB-/BB
            250            UP           1     BB-/BB

                 rwas_regul_capital_amount  rorc_last_m_cust_amount  \
customer_id
000032713   37                129,461.7500                   0.1044
            185                35,988.6250                   0.1044
            184                34,374.8750                   0.1044
            35                 29,968.2500                   0.1044
            36                 22,746.0000                   0.1044
...                                    ...                      ...
059949867   44                140,213.6200                   0.1049
            45                 47,808.6250                   0.1049
            189                18,671.3750                   0.1049
064682707   150                 6,454.5000                   0.0983
            250                 1,657.0000                   0.0983

                 prof_ratio_rorc_amount  raroec_customer_amount  \
customer_id
000032713   37                   0.1008                  0.1341
            185                  0.1008                  0.1341
            184                  0.1008                  0.1341
            35                   0.1008                  0.1341
            36                   0.1008                  0.1341
...                                 ...                     ...
059949867   44                   0.0804                  0.1527
            45                   0.0804                  0.1527
            189                  0.0804                  0.1527
064682707   150                  0.0713                  0.1636
            250                  0.0713                  0.1636

                 rorc_operation_amount  raroec_operation_amount  \
customer_id
000032713   37                  0.0323                   0.0414
            185                 0.0373                   0.0479
            184                 0.0370                   0.0475
            35                  0.0197                   0.0253
            36                  0.0252                   0.0323
...                                ...                      ...
059949867   44                 -0.0254                  -0.0381
            45                 -0.0015                  -0.0023
            189                -0.1847                  -0.2706
064682707   150                 0.0547                   0.1134
            250                -0.2177                  -0.4493

                pool_situation_type motivo_des analisis_neg cancelation_type  \
customer_id
000032713   37                   SI      CI/OI        CP/OP              NaN
            185                  SI      CI/OI        CP/OP              NaN
            184                  SI      CI/OI        CP/OP              NaN
            35                   SI      CI/OI        CP/OP              NaN
            36                   SI      CI/OI        CP/OP              NaN
...                             ...        ...          ...              ...
059949867   44                   SI      CI/OI        CP/ON          PARCIAL
            45                   SI      CI/OI        CP/ON              NaN
            189                  SI      CI/OI        CP/ON              NaN
064682707   150                  SI      CI/OI        CP/OP              NaN
            250                  SI      CI/OI        CP/ON              NaN

                 rorc_6m_cust_times_number billing_date  \
customer_id
000032713   37                           6   2025-04-30
            185                          6   2025-06-30
            184                          6   2025-06-30
            35                           6   2025-05-31
            36                           6   2025-05-31
...                                    ...          ...
059949867   44                           6   2024-04-30
            45                           6   2025-05-31
            189                          6   2025-06-30
064682707   150                          6   2025-03-31
            250                          6   2025-06-30

                pool_customer_reg_date pool_exit_date alerta_com  \
customer_id
000032713   37              2025-04-30            NaN         DC
            185             2025-06-30            NaN         DC
            184             2025-06-30            NaN         DC
            35              2025-05-31            NaN         DC
            36              2025-05-31            NaN         DC
...                                ...            ...        ...
059949867   44              2024-04-30            NaN         SC
            45              2025-05-31            NaN         SC
            189             2025-06-30            NaN         SC
064682707   150             2025-03-31            NaN        NaN
            250             2025-06-30            NaN        NaN

                 prof_ratio_rorc_amount_2 valid_model_id  rorc_cliente  \
customer_id
000032713   37                     0.0992             MA        0.1003
            185                    0.0992             MA        0.1003
            184                    0.0992             MA        0.1003
            35                     0.0992             MA        0.1003
            36                     0.0992             MA        0.1003
...                                   ...            ...           ...
059949867   44                     0.0809             MA        0.1003
            45                     0.0809             MA        0.1003
            189                    0.0809             MA        0.1003
064682707   150                    0.0713             ME        0.1003
            250                    0.0713             ME        0.1003

                 rorc_op  new_rorc_op part_closing_date
customer_id
000032713   37    0.0600       0.0600        2025-06-30
            185   0.0600       0.0600        2025-06-30
            184   0.0600       0.0600        2025-06-30
            35    0.0600       0.0600        2025-06-30
            36    0.0600       0.0600        2025-06-30
...                  ...          ...               ...
059949867   44    0.0600       0.0600        2025-06-30
            45    0.0600       0.0600        2025-06-30
            189   0.0600       0.0600        2025-06-30
064682707   150   0.0600       0.0600        2025-06-30
            250   0.0600       0.0600        2025-06-30

[231 rows x 32 columns]

In [32]:
pool_m.groupby(["level60_operarea_id","counterpart_id"]).rwas_regul_capital_amount.mean()

level60_operarea_id  counterpart_id
0023                 0083             463,184.2150
                     0300             389,789.0000
                     0516               4,099.2500
0058                 0010             328,143.5221
                     0083              74,748.1175
                     0210             320,736.2500
                     0252             723,228.9450
                     0300             127,585.7163
                     0501             155,428.3438
                     0505             448,869.9667
                     0511             217,424.4954
                     0516             251,747.9389
                     0988             344,833.4433
8519                 0083               9,249.2836
                     0516              60,502.5000
Name: rwas_regul_capital_amount, dtype: float64

In [31]:
pool_m.loc[pool_m.counterpart_id != '0083'].groupby("customer_id").apply(five_oldest_surv, include_groups=False)

                                contract_id         current_contract_id  \
customer_id
000057385   84   00000000000000000610018115  01825423001000000000155772
000059569   116  00000000000000000586449710  01825423001000000000155724
            115  00000000000000000546767126  01825423030000155489060109
000115593   54   00000000000000000454313350  01822393030000087896000109
000163104   133  00000000000000000433676095  01825426051600000000049953
            239  00000000000000000483489070  01825426051600000000058643
000259175   77   00000000000000000558268132  01822372051100000000033092
            78   00000000000000000546935949  01822372030000021112000109
            79   00000000000000000680320886  01822372098800060920200080
            205  00000000000000000694803863  01822372098800060920200082
001005370   27   00000000000000000596662002  01822357051600000000078585
            173  00000000000000000549637223  01822357030000397400070109
001278519   33   00000000000000000553752851  01822343030000220118000109
002362927   109  00000000000000000645044849  01822376050100000001781524
002715853   71   00000000000000000555442827  01822345030000850894002109
003883696   85   00000000000000000586528390  01822419030000802149000109
007652980   49   00000000000000000679764662  01822336098800144348400069
            48   00000000000000000640634367  01822336098800144348400051
            191  00000000000000000697824258  01822336098800144348400072
            47   00000000000000000684634211  01822336098800144348400070
007685983   247  00000000000000000697005638  01822344098800166415000047
            246  00000000000000000697005143  01822344098800166415000046
008072751   6    00000000000000000589022395  01822376051600000000077748
008271052   111  00000000000000000637895063  01821299030000153295000909
010134184   12   00000000000000000584016126  01822393001000000000152914
            8    00000000000000000658384215  01822393098800165880900011
010228209   244  00000000000000000402222091  01822332051600000000043863
            137  00000000000000000667032500  01822332050100000001791154
010426433   30   00000000000000000582799852  01822359051600000000076640
011097471   124  00000000000000000546826609  01822346030000368150000909
            123  00000000000000000685671782  01822346050100000001798732
012054659   13   00000000000000000578854416  01822351001000000000150786
012225332   31   00000000000000000537869112  01824899030000033502000909
013644107   230  00000000000000000584319910  01821299001000000000152284
014742380   75   00000000000000000553440366  01825475098800170649200001
028407710   22   00000000000000000643922216  01822327050500000000175580
030695078   186  00000000000000000697145512  01822345025200000000169119
            39   00000000000000000688132471  01822345025200000000168705
            42   00000000000000000684715656  01822345025200000000168577
            40   00000000000000000687500047  01822345025200000000168681
            41   00000000000000000692115582  01822345025200000000168879
034908347   158  00000000000000000587708630  01822344001000000000156286
            1    00000000000000000667711952  01822344050500000000190663
050339197   188  00000000000000000694696573  01822743001000000000151850
051751124   249  00000000000000000555431464  01825651051100000000032996
059835368   68   00000000000000000642362660  01825714051600000000083986
            69   00000000000000000614224075  01825714051600000000080581
059949867   44   00000000000000000575172005  01822338030000673422000109

                level60_operarea_id counterpart_id term_contract_type  \
customer_id
000057385   84                 0058           0010                 CP
000059569   116                0058           0010                 CP
            115                0058           0300                 CP
000115593   54                 0058           0300                 CP
000163104   133                0058           0516                 CP
            239                0058           0516                 CP
000259175   77                 0058           0511                 CP
            78                 0058           0300                 CP
            79                 0058           0988                 LP
            205                0058           0988                 LP
001005370   27                 0058           0516                 CP
            173                0058           0300                 CP
001278519   33                 0058           0300                 CP
002362927   109                0058           0501                 LP
002715853   71                 0058           0300                 CP
003883696   85                 0058           0300                 CP
007652980   49                 0058           0988                 LP
            48                 0058           0988                 LP
            191                0058           0988                 LP
            47                 0058           0988                 LP
007685983   247                0058           0988                 CP
            246                0058           0988                 CP
008072751   6                  0058           0516                 CP
008271052   111                0058           0300                 CP
010134184   12                 0058           0010                 CP
            8                  0058           0988                 LP
010228209   244                0058           0516                 CP
            137                0058           0501                 LP
010426433   30                 0058           0516                 CP
011097471   124                0058           0300                 CP
            123                0058           0501                 LP
012054659   13                 0058           0010                 CP
012225332   31                 0023           0300                 CP
013644107   230                0058           0010                 CP
014742380   75                 0058           0988                 LP
028407710   22                 0058           0505                 LP
030695078   186                0058           0252                 CP
            39                 0058           0252                 CP
            42                 0058           0252                 CP
            40                 0058           0252                 CP
            41                 0058           0252                 CP
034908347   158                0058           0010                 CP
            1                  0058           0505                 LP
050339197   188                0058           0010                 CP
051751124   249                0058           0511                 CP
059835368   68                 0058           0516                 CP
            69                 0058           0516                 CP
059949867   44                 0058           0300                 CP

                m5_scale_master_limit_id cliente_nuevo_pool rating_mes  \
customer_id
000057385   84                        BB                NaN         BB
000059569   116                      BB-                NaN        BB-
            115                      BB-                NaN        BB-
000115593   54                        B-                NaN         B-
000163104   133                      BB+                NaN         B-
            239                       BB                NaN         B-
000259175   77                       NaN                NaN         BB
            78                        BB                NaN         BB
            79                        BB                NaN         BB
            205                       BB                NaN         BB
001005370   27                       BB+                NaN        BB+
            173                      BB+                NaN        BB+
001278519   33                        BB                NaN         BB
002362927   109                       B+                NaN         B+
002715853   71                       BB+                NaN        BB-
003883696   85                       BB-                NaN        BB-
007652980   49                         B                NaN         B-
            48                         B                NaN         B-
            191                        B                NaN         B-
            47                         B                NaN         B-
007685983   247                       BB                NaN         BB
            246                       BB                NaN         BB
008072751   6                        BB-                NaN        BB-
008271052   111                       B+                NaN         B+
010134184   12                       BB-                NaN        BB-
            8                        BB-                NaN        BB-
010228209   244                      BB+                NaN        BB+
            137                      BB+                NaN        BB+
010426433   30                       BBB                NaN          B
011097471   124                      BB+                NaN        BB+
            123                      BB+                NaN        BB+
012054659   13                        B+                NaN          B
012225332   31                      BBB-                NaN       BBB-
013644107   230                      BB-                NaN        BB-
014742380   75                        B-                NaN         B-
028407710   22                       CC+                NaN        CC+
030695078   186                       B-                NaN         B-
            39                        B-                NaN         B-
            42                        B-                NaN         B-
            40                        B-                NaN         B-
            41                        B-                NaN         B-
034908347   158                       B-                NaN         B-
            1                         B-                NaN         B-
050339197   188                       B+                NaN          B
051751124   249                       BB                NaN         BB
059835368   68                         B                NaN          B
            69                         B                NaN          B
059949867   44                       BB+                NaN        BB+

                rating_status rating_diff rating_var  \
customer_id
000057385   84             NC           0         BB
000059569   116            NC           0        BB-
            115            NC           0        BB-
000115593   54             NC           0         B-
000163104   133            NC           0         B-
            239            NC           0         B-
000259175   77             NC           0         BB
            78             NC           0         BB
            79             NC           0         BB
            205            NC           0         BB
001005370   27             UP           1     BB/BB+
            173            UP           1     BB/BB+
001278519   33             NC           0         BB
002362927   109            NC           0         B+
002715853   71             NC           0        BB-
003883696   85             NC           0        BB-
007652980   49             NC           0         B-
            48             NC           0         B-
            191            NC           0         B-
            47             NC           0         B-
007685983   247            NC           0         BB
            246            NC           0         BB
008072751   6              NC           0        BB-
008271052   111            NC           0         B+
010134184   12             NC           0        BB-
            8              NC           0        BB-
010228209   244            NC           0        BB+
            137            NC           0        BB+
010426433   30             NC           0          B
011097471   124            NC           0        BB+
            123            NC           0        BB+
012054659   13             NC           0          B
012225332   31             NC           0       BBB-
013644107   230            NC           0        BB-
014742380   75             NC           0         B-
028407710   22             NC           0        CC+
030695078   186            NC           0         B-
            39             NC           0         B-
            42             NC           0         B-
            40             NC           0         B-
            41             NC           0         B-
034908347   158            NC           0         B-
            1              NC           0         B-
050339197   188            NC           0          B
051751124   249            UP           1     BB-/BB
059835368   68             NC           0          B
            69             NC           0          B
059949867   44             NC           0        BB+

                 rwas_regul_capital_amount  rorc_last_m_cust_amount  \
customer_id
000057385   84                618,554.2500                   0.1232
000059569   116               271,377.5000                   0.0741
            115                35,368.7500                   0.0741
000115593   54                331,653.3800                   0.0795
000163104   133               550,715.0000                   0.0611
            239               249,220.1200                   0.0611
000259175   77                169,715.7500                   0.0487
            78                 69,034.1250                   0.0487
            79                  4,217.3750                   0.0487
            205                 2,363.1250                   0.0487
001005370   27              1,050,429.4000                   0.0600
            173             1,011,901.9000                   0.0600
001278519   33                  3,341.8750                   0.0744
002362927   109               168,411.1200                   0.0582
002715853   71                 26,271.6250                   0.0721
003883696   85                126,154.6250                   0.1062
007652980   49              3,791,792.5000                   0.0428
            48                993,983.9000                   0.0428
            191               237,731.0000                   0.0428
            47                 39,326.7500                   0.0428
007685983   247                   621.0000                   0.0397
            246                   439.0000                   0.0397
008072751   6                  97,725.0000                   0.0950
008271052   111               102,653.2500                   0.0618
010134184   12              1,575,211.9000                   0.0641
            8                   6,459.2500                   0.0641
010228209   244               871,212.7500                   0.0744
            137                58,289.0000                   0.0744
010426433   30                155,690.7500                   0.0323
011097471   124               458,579.0000                   0.0642
            123                17,157.8750                   0.0642
012054659   13                 60,760.0000                   0.0731
012225332   31                389,789.0000                   0.0932
013644107   230               912,108.4000                   0.1452
014742380   75                 33,419.3750                   0.0978
028407710   22              1,337,020.4000                  -0.1180
030695078   186               900,595.0000                  -0.0090
            39                831,531.4000                  -0.0090
            42                806,315.9000                  -0.0090
            40                706,623.1000                  -0.0090
            41                682,096.1000                  -0.0090
034908347   158               102,932.1250                  -0.0700
            1                   4,540.2500                  -0.0700
050339197   188               117,228.7500                   0.0382
051751124   249                66,119.7500                   0.0643
059835368   68                 17,505.3750                   0.2207
            69                  2,425.3750                   0.2207
059949867   44                140,213.6200                   0.1049

                 prof_ratio_rorc_amount  raroec_customer_amount  \
customer_id
000057385   84                   0.0864                  0.1582
000059569   116                  0.0734                  0.1021
            115                  0.0734                  0.1021
000115593   54                   0.0650                  0.1027
000163104   133                  0.0644                  0.2309
            239                  0.0644                  0.2309
000259175   77                   0.0263                  0.0726
            78                   0.0263                  0.0726
            79                   0.0263                  0.0726
            205                  0.0263                  0.0726
001005370   27                   0.0687                  0.1149
            173                  0.0687                  0.1149
001278519   33                   0.0834                  0.0840
002362927   109                  0.0741                  0.0743
002715853   71                   0.0662                  0.1228
003883696   85                   0.0355                  0.1784
007652980   49                   0.0310                  0.0877
            48                   0.0310                  0.0877
            191                  0.0310                  0.0877
            47                   0.0310                  0.0877
007685983   247                  0.0735                  0.0461
            246                  0.0735                  0.0461
008072751   6                    0.0930                  0.1102
008271052   111                  0.0349                  0.0747
010134184   12                   0.0619                  0.0814
            8                    0.0619                  0.0814
010228209   244                  0.0724                  0.1094
            137                  0.0724                  0.1094
010426433   30                   0.0488                  0.1196
011097471   124                  0.0652                  0.0887
            123                  0.0652                  0.0887
012054659   13                   0.0898                  0.0852
012225332   31                   0.0806                  0.1940
013644107   230                  0.0533                  0.2407
014742380   75                   0.0727                  0.1256
028407710   22                  -0.1537                 -0.1535
030695078   186                 -0.0083                 -0.0136
            39                  -0.0083                 -0.0136
            42                  -0.0083                 -0.0136
            40                  -0.0083                 -0.0136
            41                  -0.0083                 -0.0136
034908347   158                 -0.0881                 -0.0892
            1                   -0.0881                 -0.0892
050339197   188                  0.0414                  0.0563
051751124   249                  0.0464                  0.0947
059835368   68                   0.0806                  0.2896
            69                   0.0806                  0.2896
059949867   44                   0.0804                  0.1527

                 rorc_operation_amount  raroec_operation_amount  \
customer_id
000057385   84                  0.0478                   0.0606
000059569   116                 0.0532                   0.0730
            115                -0.0183                  -0.0256
000115593   54                  0.0298                   0.0390
000163104   133                 0.0542                   0.2084

In [ ]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum",normalize=).fillna(0)

In [44]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum", margins=True, margins_name="Total").fillna(0)

counterpart_id,0010,0083,0252,0300,0501,0505,0511,0516,0988,Total
customer_id,,,,,,,,,,
000032713,0.0000,"266,977.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"266,977.7500"
000057385,"618,554.2500","115,831.8750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"734,386.1250"
000059569,"271,377.5000","325,520.2500",0.0000,"35,368.7500",0.0000,0.0000,0.0000,0.0000,0.0000,"632,266.5000"
000115593,0.0000,"318,513.5000",0.0000,"331,653.3800",0.0000,0.0000,0.0000,0.0000,0.0000,"650,166.8800"
000147893,0.0000,"663,894.8700",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"663,894.8700"
000163104,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"799,935.1200",0.0000,"799,935.1200"
000259175,0.0000,"230,066.8750",0.0000,"69,034.1250",0.0000,0.0000,"169,715.7500",0.0000,"6,580.5000","475,397.2500"
000992836,0.0000,"2,766,053.3200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"2,766,053.3200"
001005370,0.0000,0.0000,0.0000,"1,011,901.9000",0.0000,0.0000,0.0000,"1,050,429.4000",0.0000,"2,062,331.3000"
001163997,0.0000,"163,282.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"163,282.2500"
001278519,0.0000,"15,021.6250",0.0000,"3,341.8750",0.0000,0.0000,0.0000,0.0000,0.0000,"18,363.5000"
002362927,0.0000,"1,924,142.3750",0.0000,0.0000,"168,411.1200",0.0000,0.0000,0.0000,0.0000,"2,092,553.4950"
002715853,0.0000,"141,585.3750",0.0000,"26,271.6250",0.0000,0.0000,0.0000,0.0000,0.0000,"167,857.0000"
003883696,0.0000,"37,121.2500",0.0000,"126,154.6250",0.0000,0.0000,0.0000,0.0000,0.0000,"163,275.8750"
005479572,0.0000,"49,819.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"49,819.6250"
005609283,0.0000,"117,063.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"117,063.0000"
007652980,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"5,062,834.1500","5,062,834.1500"
007685983,0.0000,"571,436.1300",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"1,060.0000","572,496.1300"
008072751,0.0000,"31,818.5000",0.0000,0.0000,0.0000,0.0000,0.0000,"97,725.0000",0.0000,"129,543.5000"
008271052,0.0000,"62,533.7500",0.0000,"102,653.2500",0.0000,0.0000,0.0000,0.0000,0.0000,"165,187.0000"
009427237,0.0000,"190,098.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"190,098.7500"
009637729,0.0000,"234,792.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"234,792.3750"
010134184,"1,575,211.9000","2,852,937.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"6,459.2500","4,434,608.2700"
010228209,0.0000,0.0000,0.0000,0.0000,"58,289.0000",0.0000,0.0000,"871,212.7500",0.0000,"929,501.7500"
010426433,0.0000,"121,388.8750",0.0000,0.0000,0.0000,0.0000,0.0000,"155,690.7500",0.0000,"277,079.6250"
011097471,0.0000,"163,626.6250",0.0000,"458,579.0000","17,157.8750",0.0000,0.0000,0.0000,0.0000,"639,363.5000"
011717815,0.0000,"209,135.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"209,135.3750"
012054659,"60,760.0000","104,795.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"165,555.6250"
012225332,0.0000,"1,076,570.5250",0.0000,"389,789.0000",0.0000,0.0000,0.0000,0.0000,0.0000,"1,466,359.5250"
012246142,0.0000,"195,098.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"195,098.1200"
013042517,0.0000,"154,671.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"154,671.0000"
013371101,0.0000,"9,787.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"9,787.7500"
013644107,"912,108.4000","5,442.1250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"917,550.5250"
014742380,0.0000,"124,007.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"33,419.3750","157,426.6250"
016069816,0.0000,"533,289.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"533,289.0000"
017633949,0.0000,"59,886.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"59,886.2500"
021836410,0.0000,"56,599.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"56,599.2500"
024442741,0.0000,"181,997.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"181,997.3750"
027781126,0.0000,"115,397.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"115,397.2500"
028407710,0.0000,"115,226.3750",0.0000,0.0000,0.0000,"1,337,020.4000",0.0000,0.0000,0.0000,"1,452,246.7750"
028915227,0.0000,"130,412.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"130,412.0000"
029170892,0.0000,"1,214,645.1000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"1,214,645.1000"
029872299,0.0000,"155,075.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"155,075.3750"
030695078,0.0000,0.0000,"4,773,207.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"4,773,207.1200"
030724363,0.0000,"110,213.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"110,213.3750"
032729761,0.0000,"132,286.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"132,286.2500"
033127399,0.0000,"263,737.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"263,737.6250"
034807425,0.0000,"36,753.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"36,753.0000"
034908347,"102,932.1250","82,025.1250",0.0000,0.0000,0.0000,"4,540.2500",0.0000,0.0000,0.0000,"189,497.5000"
035201264,0.0000,"36,757.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"36,757.5000"
035455654,0.0000,"123,931.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"123,931.5000"
038094323,0.0000,"80,992.8750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"80,992.8750"
040297019,0.0000,"391,753.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"391,753.0000"
050180900,0.0000,"49,761.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"49,761.6250"
050339197,"117,228.7500","182,644.6200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"299,873.3700"
051751124,0.0000,"556,540.7500",0.0000,0.0000,0.0000,0.0000,"66,119.7500",0.0000,0.0000,"622,660.5000"
052282112,0.0000,"22,654.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"22,654.7500"
052979558,0.0000,"73,005.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"73,005.7500"
053704889,0.0000,"243,143.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"243,143.0000"
055890379,0.0000,"78,329.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"78,329.5000"
059835368,0.0000,"27,664.2500",0.0000,0.0000,0.0000,0.0000,0.0000,"19,930.7500",0.0000,"47,595.0000"
059949867,0.0000,"66,480.0000",0.0000,"140,213.6200",0.0000,0.0000,0.0000,0.0000,0.0000,"206,693.6200"
064682707,0.0000,"8,111.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"8,111.5000"
Total,"3,658,172.9250","18,372,347.8050","4,773,207.1200","2,694,961.1500","243,857.9950","1,341,560.6500","235,835.5000","2,994,923.7700","5,110,353.2750","39,425,220.1900"

In [ ]:
3$CUR!2ra

In [5]:
618554.2500 / 39425220.1900

0.01568930362389943

In [ ]:
010134184

In [ ]:
filtered_data = pool_m[pool_m['customer_id'] != 'Total']

In [5]:
pool_m[pool_m.pool_situation_type == 'SI'].tail(10)

,contract_id,current_contract_id,level60_operarea_id,counterpart_id,term_contract_type,m5_scale_master_limit_id,customer_id,cliente_nuevo_pool,rating_mes,rating_status,rating_diff,rating_var,rwas_regul_capital_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,raroec_customer_amount,rorc_operation_amount,raroec_operation_amount,pool_situation_type,motivo_des,analisis_neg,cancelation_type,rorc_6m_cust_times_number,billing_date,pool_customer_reg_date,pool_exit_date,alerta_com,prof_ratio_rorc_amount_2,valid_model_id,rorc_cliente,rorc_op,new_rorc_op,part_closing_date
246,00000000000000000697005143,01822344098800166415000046,0058,0988,CP,BB,007685983,NaN,BB,NC,0,BB,439.0000,0.0397,0.0735,0.0461,-2.4905,-4.5913,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0737,MA,0.1003,0.0600,0.0600,2025-06-30
247,00000000000000000697005638,01822344098800166415000047,0058,0988,CP,BB,007685983,NaN,BB,NC,0,BB,621.0000,0.0397,0.0735,0.0461,-2.0663,-4.0266,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0737,MA,0.1003,0.0600,0.0600,2025-06-30
248,00000000000000000697001013,01822407008300000000038116,0058,0083,CP,B+,035455654,NaN,B+,NC,0,B+,"31,113.7500",0.0706,0.0728,0.1272,-0.1227,-0.2386,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0734,MA,0.1003,0.0600,0.0600,2025-06-30
249,00000000000000000555431464,01825651051100000000032996,0058,0511,CP,BB,051751124,NaN,BB,UP,1,BB-/BB,"66,119.7500",0.0643,0.0464,0.0947,0.0529,0.0772,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0465,MA,0.1003,0.0600,0.0600,2025-06-30
250,00000000000000000695917995,01822376008300000000058153,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,"1,657.0000",0.0983,0.0713,0.1636,-0.2177,-0.4493,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0713,ME,0.1003,0.0600,0.0600,2025-06-30
251,00000000000000000698049116,01821299008300000000019894,0058,0083,CP,BB,000992836,NaN,BB,NC,0,BB,"465,051.1200",0.1042,0.0831,0.1731,0.0010,0.0016,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,SC,0.0831,MA,0.1003,0.0600,0.0600,2025-06-30
252,00000000000000000696782023,01822324008300000000006896,0058,0083,CP,B+,034807425,NaN,B+,NC,0,B+,"15,561.5000",0.0684,0.0654,0.0882,0.0415,0.0537,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
253,00000000000000000696780300,01822324008300000000006895,0058,0083,CP,B+,034807425,NaN,B+,NC,0,B+,"3,736.2500",0.0684,0.0654,0.0882,-0.0659,-0.0855,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
254,00000000000000000696597892,01822324008300000000006885,0058,0083,CP,B+,034807425,NaN,B+,NC,0,B+,"9,944.5000",0.0684,0.0654,0.0882,0.0256,0.0331,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
255,00000000000000000697158920,01825473008300000000012415,0058,0083,CP,B+,009637729,NaN,B+,NC,0,B+,"104,853.1250",0.0047,0.0453,0.0060,0.0181,0.0232,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0453,MA,0.1003,0.0600,0.0600,2025-06-30

In [ ]:
margins=True, margins_name="Total"normalize=True .nlargest(10, "Total")

In [ ]:
618554.2500 / 39425220.1900

In [7]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum",normalize='columns').fillna(0).style.background_gradient(cmap='viridis', axis=None)

In [50]:
filtered_data

counterpart_id,0010,0083,0252,0300,0501,0505,0511,0516,0988,Total
customer_id,,,,,,,,,,
Total,9.2788,46.6005,12.1070,6.8356,0.6185,3.4028,0.5982,7.5965,12.9621,100.0000
007652980,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,12.8416,12.8416
030695078,0.0000,0.0000,12.1070,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,12.1070
010134184,3.9954,7.2363,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0164,11.2482
000992836,0.0000,7.0159,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,7.0159
002362927,0.0000,4.8805,0.0000,0.0000,0.4272,0.0000,0.0000,0.0000,0.0000,5.3077
001005370,0.0000,0.0000,0.0000,2.5666,0.0000,0.0000,0.0000,2.6644,0.0000,5.2310
012225332,0.0000,2.7307,0.0000,0.9887,0.0000,0.0000,0.0000,0.0000,0.0000,3.7193
028407710,0.0000,0.2923,0.0000,0.0000,0.0000,3.3913,0.0000,0.0000,0.0000,3.6835
029170892,0.0000,3.0809,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3.0809

In [ ]:


pool_m.nlargest(5, "age") # just to check

# And what we want to do now, actually, we want to split our titanic data frame into a male group and a female group.
# And then for each group, we want to return the five oldest passengers that actually survived.
def five_oldest_surv(group):
    return group[group.survived == 1].nlargest(5, "age")

titanic.groupby("sex").apply(five_oldest_surv, include_groups=False)

		survived	pclass	age	fare
sex					
female	275	1	        1	63.0	77.9583
        483	1	        3	63.0	9.5875
        829	1	        1	62.0	80.0000
        366	1	        1	60.0	75.2500
        11	1	        1	58.0	26.5500
male	630	1	        1	80.0	30.0000
        570	1	        2	62.0	10.5000
        587	1	        1	60.0	79.2000
        647	1	        1	56.0	35.5000
        449	1	        1	52.0	30.5000

##### guardados excel (pool_m, pool_m1)

In [3]:
from pathlib import Path

file_path = Path("comparison_final.xlsx")
if file_path.exists():
    with pd.ExcelWriter(file_path, mode="a", if_sheet_exists="replace") as writer:
        pool_m.to_excel(writer, sheet_name="pool_m", index=False)
        pool_m1.to_excel(writer, sheet_name="pool_m1", index=False)
else:
    with pd.ExcelWriter(file_path, mode="w") as writer:
        pool_m.to_excel(writer, sheet_name="pool_m", index=False)
        pool_m1.to_excel(writer, sheet_name="pool_m1", index=False)

#### quick check of data pivot tables (pool_m, pool_m1)

##### area, ctpa, count contracts, sum rwas_regul_capital_amount

In [ ]:
# area, ctpa, count contracts, sum rwas_regul_capital_amount

# filtramos por pool_situation_type = 'SI' porque en pool_m1 solo tenemos SI

m = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "counterpart_id"],
	values=["contract_id", "rwas_regul_capital_amount"],
	aggfunc={"contract_id": "count", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total"
)
m

                                    contract_id  rwas_regul_capital_amount
level60_operarea_id counterpart_id
0023                0083                      2             1,076,570.5250
                    0300                      1               389,789.0000
0058                0010                      7             3,658,172.9250
                    0083                    197            17,217,447.7800
                    0252                      7             4,773,207.1200
                    0300                     10             2,305,172.1500
                    0501                      3               243,857.9950
                    0505                      2             1,341,560.6500
                    0511                      2               235,835.5000
                    0516                      8             2,994,923.7700
                    0988                     10             5,110,353.2750
8519                0083                      7                78,329.5000
Total                                       256            39,425,220.1900

In [15]:
m_1 = pool_m1.pivot_table(
	index=["level60_operarea_id", "counterpart_id"],
	values=["contract_id", "rwas_regul_capital_amount"],
	aggfunc={"contract_id": "count", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total"
)
m_1

                                    contract_id  rwas_regul_capital_amount
level60_operarea_id counterpart_id
0023                0083                      2               422,977.8700
                    0300                      1               888,546.0600
0058                0010                      5             2,896,673.0500
                    0083                    200            17,320,109.2012
                    0252                      6             4,451,920.2500
                    0300                     13             1,677,815.3580
                    0501                      3               247,560.5550
                    0505                      2             1,356,140.4677
                    0511                      3               226,904.7620
                    0516                     11             3,381,870.2215
                    0988                      7             4,899,933.4850
8519                0083                      8                57,624.6531
Total                                       261            37,828,075.9335

##### area, ctpa, term_contract_type, count contracts, sum rwas_regul_capital_amount

In [3]:
# area, ctpa, term_contract_type, count contracts, sum rwas_regul_capital_amount

# quick check of data - term_contract_type (BASE for next steps)
# --------------------------------
m_cplp = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m_cplp_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m_cplp_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m1_cplp = pool_m1.pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

In [17]:
m_cplp

                                   count                       sum  \
term_contract_type                    CP  LP Total              CP
level60_operarea_id counterpart_id
0023                0083               2   0     2  1,076,570.5250
                    0300               1   0     1    389,789.0000
0058                0010               7   0     7  3,658,172.9250
                    0083             189   8   197  9,895,869.6100
                    0252               7   0     7  4,773,207.1200
                    0300              10   0    10  2,305,172.1500
                    0501               0   3     3          0.0000
                    0505               0   2     2          0.0000
                    0511               2   0     2    235,835.5000
                    0516               8   0     8  2,994,923.7700
                    0988               2   8    10      1,060.0000
8519                0083               7   0     7     78,329.5000
Total                                235  21   256 25,408,930.1000


term_contract_type                              LP           Total
level60_operarea_id counterpart_id
0023                0083                    0.0000  1,076,570.5250
                    0300                    0.0000    389,789.0000
0058                0010                    0.0000  3,658,172.9250
                    0083            7,321,578.1700 17,217,447.7800
                    0252                    0.0000  4,773,207.1200
                    0300                    0.0000  2,305,172.1500
                    0501              243,857.9950    243,857.9950
                    0505            1,341,560.6500  1,341,560.6500
                    0511                    0.0000    235,835.5000
                    0516                    0.0000  2,994,923.7700
                    0988            5,109,293.2750  5,110,353.2750
8519                0083                    0.0000     78,329.5000
Total                              14,016,290.0900 39,425,220.1900

In [4]:
m_cplp_SA

                                   count                     sum              \
term_contract_type                    CP LP Total             CP          LP
level60_operarea_id counterpart_id
0023                0083               1  0     1   312,982.1200      0.0000
0058                0010               1  0     1     8,912.5000      0.0000
                    0083              87  2    89 4,596,569.0924 52,773.0250
                    0252               1  0     1 1,012,624.4400      0.0000
                    0300               4  0     4   111,305.3200      0.0000
                    0511               2  0     2   151,676.1400      0.0000
                    0516               5  0     5 1,166,349.5315      0.0000
                    0988               0  1     1         0.0000  2,042.6250
8519                0083               2  0     2     4,914.0525      0.0000
Total                                103  3   106 7,365,333.1964 54,815.6500


term_contract_type                          Total
level60_operarea_id counterpart_id
0023                0083             312,982.1200
0058                0010               8,912.5000
                    0083           4,649,342.1174
                    0252           1,012,624.4400
                    0300             111,305.3200
                    0511             151,676.1400
                    0516           1,166,349.5315
                    0988               2,042.6250
8519                0083               4,914.0525
Total                              7,420,148.8464

In [5]:
# COMPARATIVE BETWEEN m_cplp and m1_cplp
# --------------------------------
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare = [
    ('count', 'CP'),
    ('count', 'LP'),
    ('count', 'Total'),
    ('sum', 'CP'),
    ('sum', 'LP'),
    ('sum', 'Total')
]

# Calculate the difference for the selected columns
diff_m_m1 = m_cplp[cols_to_compare].sub(m1_cplp[cols_to_compare], fill_value=0)

# Concatenate for side-by-side comparison
comparison = pd.concat(
    [
        m_cplp[cols_to_compare].add_suffix('_m'),
        m1_cplp[cols_to_compare].add_suffix('_m1'),
        diff_m_m1.add_suffix('_diff'),
        m_cplp_SA[cols_to_compare].add_suffix('_SA'),
        m_cplp_SI_mes[cols_to_compare].add_suffix('_SI_mes')
    ],
    axis=1
).fillna(0)

comparison

                                   count_m                        sum_m  \
term_contract_type                    CP_m LP_m Total_m            CP_m
level60_operarea_id counterpart_id
0023                0083                 2    0       2  1,076,570.5250
                    0300                 1    0       1    389,789.0000
0058                0010                 7    0       7  3,658,172.9250
                    0083               189    8     197  9,895,869.6100
                    0252                 7    0       7  4,773,207.1200
                    0300                10    0      10  2,305,172.1500
                    0501                 0    3       3          0.0000
                    0505                 0    2       2          0.0000
                    0511                 2    0       2    235,835.5000
                    0516                 8    0       8  2,994,923.7700
                    0988                 2    8      10      1,060.0000
8519                0083                 7    0       7     78,329.5000
Total                                  235   21     256 25,408,930.1000

                                                                   count_m1  \
term_contract_type                            LP_m         Total_m    CP_m1
level60_operarea_id counterpart_id
0023                0083                    0.0000  1,076,570.5250        2
                    0300                    0.0000    389,789.0000        1
0058                0010                    0.0000  3,658,172.9250        5
                    0083            7,321,578.1700 17,217,447.7800      191
                    0252                    0.0000  4,773,207.1200        6
                    0300                    0.0000  2,305,172.1500       13
                    0501              243,857.9950    243,857.9950        0
                    0505            1,341,560.6500  1,341,560.6500        0
                    0511                    0.0000    235,835.5000        3
                    0516                    0.0000  2,994,923.7700       11
                    0988            5,109,293.2750  5,110,353.2750        0
8519                0083                    0.0000     78,329.5000        8
Total                              14,016,290.0900 39,425,220.1900      240

                                                           sum_m1  \
term_contract_type                 LP_m1 Total_m1           CP_m1
level60_operarea_id counterpart_id
0023                0083               0        2    422,977.8700
                    0300               0        1    888,546.0600
0058                0010               0        5  2,896,673.0500
                    0083               9      200 10,108,617.8602
                    0252               0        6  4,451,920.2500
                    0300               0       13  1,677,815.3580
                    0501               3        3          0.0000
                    0505               2        2          0.0000
                    0511               0        3    226,904.7620
                    0516               0       11  3,381,870.2215
                    0988               7        7          0.0000
8519                0083               0        8     57,624.6531
Total                                 21      261 24,112,950.0848

                                                                   count_diff  \
term_contract_type                           LP_m1        Total_m1    CP_diff
level60_operarea_id counterpart_id
0023                0083                    0.0000    422,977.8700          0
                    0300                    0.0000    888,546.0600          0
0058                0010                    0.0000  2,896,673.0500          2
                    0083            7,211,491.3410 17,320,109.2012         -2
                    0252                    0.0000  4,451,920.2500          1
                    0300                    0.0000  1,677,815.3580         -3
                    0501              247,560.5550    247,560.5550          0
                    0505            1,356,140.4677  1,356,140.4677          0
                    0511                    0.0000    226,904.7620         -1
                    0516                    0.0000  3,381,870.2215         -3
                    0988            4,899,933.4850  4,899,933.4850          2
8519                0083                    0.0000     57,624.6531         -1
Total                              13,715,125.8487 37,828,075.9335         -5

                                                            sum_diff  \
term_contract_type                 LP_diff Total_diff        CP_diff
level60_operarea_id counterpart_id
0023                0083                 0          0   653,592.6550
                    0300                 0          0  -498,757.0600
0058                0010                 0          2   761,499.8750
                    0083                -1         -3  -212,748.2502
                    0252                 0          1   321,286.8700
                    0300                 0         -3   627,356.7920
                    0501                 0          0         0.0000
                    0505                 0          0         0.0000
                    0511                 0         -1     8,930.7380
                    0516                 0         -3  -386,946.4515
                    0988                 1          3     1,060.0000
8519                0083                 0         -1    20,704.8469
Total                                    0         -5 1,295,980.0152

                                                               count_SA  \
term_contract_type                      LP_diff     Total_diff    CP_SA
level60_operarea_id counterpart_id
0023                0083                 0.0000   653,592.6550   1.0000
                    0300                 0.0000  -498,757.0600   0.0000
0058                0010                 0.0000   761,499.8750   1.0000
                    0083           110,086.8290  -102,661.4212  87.0000
                    0252                 0.0000   321,286.8700   1.0000
                    0300                 0.0000   627,356.7920   4.0000
                    0501            -3,702.5600    -3,702.5600   0.0000
                    0505           -14,579.8177   -14,579.8177   0.0000
                    0511                 0.0000     8,930.7380   2.0000
                    0516                 0.0000  -386,946.4515   5.0000
                    0988           209,359.7900   210,419.7900   0.0000
8519                0083                 0.0000    20,704.8469   2.0000
Total                              301,164.2413 1,597,144.2565 103.0000

                                                           sum_SA              \
term_contract_type                  LP_SA Total_SA          CP_SA       LP_SA
level60_operarea_id counterpart_id
0023                0083           0.0000   1.0000   312,982.1200      0.0000
                    0300           0.0000   0.0000         0.0000      0.0000
0058                0010           0.0000   1.0000     8,912.5000      0.0000
                    0083           2.0000  89.0000 4,596,569.0924 52,773.0250
                    0252           0.0000   1.0000 1,012,624.4400      0.0000
                    0300           0.0000   4.0000   111,305.3200      0.0000
                    0501           0.0000   0.0000         0.0000      0.0000
                    0505           0.0000   0.0000         0.0000      0.0000
                    0511           0.0000   2.0000   151,676.1400      0.0000
                    0516           0.0000   5.0000 1,166,349.5315      0.0000
                    0988           1.0000   1.0000         0.0000  2,042.6250
8519                0083           0.0000   2.0000     4,914.0525      0.0000
Total                              3.0000 106.0000 7,365,333.1964 54,815.6500

                                                  count_SI_mes            \
term_contract_type                       Total_SA    CP_SI_mes LP_SI_mes
level60_operarea_id counterpart_id
0023                0083             312,982.1200       1.0000    0.0000
                    0300                   0.0000       0.0000    0.0000
0058                0010               8,912.5000       3.0000    0.0000
                    0083           4,649,342.1174      85.0000    1.0000
                    0252           1,012,624.4400       2.0000    0.0000
                    0300             111,305.3200       1.0000    0.0000
                    0501                   0.0000       0.0000    0.0000
                    0505                   0.0000       0.0000    0.0000
                    0511             151,676.1400       1.0000    0.0000
                    0516           1,166,349.5315       2.0000    0.0000
                    0988               2,042.6250       2.0000    2.0000
8519                0083               4,914.0525       1.0000    0.0000
Total                              7,420,148.8464      98.0000    3.0000

                                                     sum_SI_mes               \
term_contract_type                 Total_SI_mes       CP_SI_mes    LP_SI_mes
level60_operarea_id counterpart_id
0023                0083                 1.0000    968,228.9000       0.0000
                    0300                 0.0000          0.0000       0.0000
0058                0010                 3.0000  1,132,269.2750       0.0000
                    0083                86.0000  4,504,783.9850 408,940.7500
                    0252                 2.0000  1,449,976.0000       0.0000
                    0300                 1.0000  1,011,901.9000       0.0000
                    0501                 0.0000          0.0000       0.0000
                    0505                 0.0000          0.0000       0.0000
                    0511                 1.0000     66,119.7500       0.0000
                    0516                 2.0000  1,120,432.8700       0.0000
                    0988                 4.0000      1,060.0000 240,094.1250
8519                0083                 1.0000     25,642.5000       0.0000
Total                                  101.0000 10,280,415.1800 649,034.8750


term_contract_type                    Total_SI_mes
level60_operarea_id counterpart_id
0023                0083              968,228.9000
                    0300                    0.0000
0058                0010            1,132,269.2750
                    0083            4,913,724.7350
                    0252            1,449,976.0000
                    0300            1,011,901.9000
                    0501                    0.0000
                    0505                    0.0000
                    0511               66,119.7500
                    0516            1,120,432.8700
                    0988              241,154.1250
8519                0083               25,642.5000
Total                              10,929,450.0550

# GUARDO LA MATRIZ DE DIFERENCIAS
# --------------------------------------
comparison.to_excel("comparison_m_m1.xlsx")

# option 2
def format_col(col):
    if isinstance(col, tuple):
        return f"{col[1]}_{col[0]}"  # e.g., A_2020
    return col

df_flat.columns = [format_col(c) for c in df_flat.columns]

# 3. Rename index columns
renamed_dict = {
    'banca_': 'banca',
    'ctpa_': 'ctpa',
    'count_level_op': 'contract_count',
    'sum_level_op': 'contract_sum',
    'count_rwas': 'rwas_count',
    'sum_rwas': 'rwas_sum'
}

df_flat=df_flat.rename(mapper=renamed_dict, axis="columns")

In [6]:
comparison = comparison.reset_index()

comparison.columns = [
    '_'.join(map(str, col)).strip() if isinstance(col, tuple) else col
    for col in comparison.columns
]

In [7]:
comparison

,level60_operarea_id_,counterpart_id_,count_m_CP_m,count_m_LP_m,count_m_Total_m,sum_m_CP_m,sum_m_LP_m,sum_m_Total_m,count_m1_CP_m1,count_m1_LP_m1,count_m1_Total_m1,sum_m1_CP_m1,sum_m1_LP_m1,sum_m1_Total_m1,count_diff_CP_diff,count_diff_LP_diff,count_diff_Total_diff,sum_diff_CP_diff,sum_diff_LP_diff,sum_diff_Total_diff,count_SA_CP_SA,count_SA_LP_SA,count_SA_Total_SA,sum_SA_CP_SA,sum_SA_LP_SA,sum_SA_Total_SA,count_SI_mes_CP_SI_mes,count_SI_mes_LP_SI_mes,count_SI_mes_Total_SI_mes,sum_SI_mes_CP_SI_mes,sum_SI_mes_LP_SI_mes,sum_SI_mes_Total_SI_mes
0,0023,0083,2,0,2,"1,076,570.5250",0.0000,"1,076,570.5250",2,0,2,"422,977.8700",0.0000,"422,977.8700",0,0,0,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,0300,1,0,1,"389,789.0000",0.0000,"389,789.0000",1,0,1,"888,546.0600",0.0000,"888,546.0600",0,0,0,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,0010,7,0,7,"3,658,172.9250",0.0000,"3,658,172.9250",5,0,5,"2,896,673.0500",0.0000,"2,896,673.0500",2,0,2,"761,499.8750",0.0000,"761,499.8750",1.0000,0.0000,1.0000,"8,912.5000",0.0000,"8,912.5000",3.0000,0.0000,3.0000,"1,132,269.2750",0.0000,"1,132,269.2750"
3,0058,0083,189,8,197,"9,895,869.6100","7,321,578.1700","17,217,447.7800",191,9,200,"10,108,617.8602","7,211,491.3410","17,320,109.2012",-2,-1,-3,"-212,748.2502","110,086.8290","-102,661.4212",87.0000,2.0000,89.0000,"4,596,569.0924","52,773.0250","4,649,342.1174",85.0000,1.0000,86.0000,"4,504,783.9850","408,940.7500","4,913,724.7350"
4,0058,0252,7,0,7,"4,773,207.1200",0.0000,"4,773,207.1200",6,0,6,"4,451,920.2500",0.0000,"4,451,920.2500",1,0,1,"321,286.8700",0.0000,"321,286.8700",1.0000,0.0000,1.0000,"1,012,624.4400",0.0000,"1,012,624.4400",2.0000,0.0000,2.0000,"1,449,976.0000",0.0000,"1,449,976.0000"
5,0058,0300,10,0,10,"2,305,172.1500",0.0000,"2,305,172.1500",13,0,13,"1,677,815.3580",0.0000,"1,677,815.3580",-3,0,-3,"627,356.7920",0.0000,"627,356.7920",4.0000,0.0000,4.0000,"111,305.3200",0.0000,"111,305.3200",1.0000,0.0000,1.0000,"1,011,901.9000",0.0000,"1,011,901.9000"
6,0058,0501,0,3,3,0.0000,"243,857.9950","243,857.9950",0,3,3,0.0000,"247,560.5550","247,560.5550",0,0,0,0.0000,"-3,702.5600","-3,702.5600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,0058,0505,0,2,2,0.0000,"1,341,560.6500","1,341,560.6500",0,2,2,0.0000,"1,356,140.4677","1,356,140.4677",0,0,0,0.0000,"-14,579.8177","-14,579.8177",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8,0058,0511,2,0,2,"235,835.5000",0.0000,"235,835.5000",3,0,3,"226,904.7620",0.0000,"226,904.7620",-1,0,-1,"8,930.7380",0.0000,"8,930.7380",2.0000,0.0000,2.0000,"151,676.1400",0.0000,"151,676.1400",1.0000,0.0000,1.0000,"66,119.7500",0.0000,"66,119.7500"
9,0058,0516,8,0,8,"2,994,923.7700",0.0000,"2,994,923.7700",11,0,11,"3,381,870.2215",0.0000,"3,381,870.2215",-3,0,-3,"-386,946.4515",0.0000,"-386,946.4515",5.0000,0.0000,5.0000,"1,166,349.5315",0.0000,"1,166,349.5315",2.0000,0.0000,2.0000,"1,120,432.8700",0.0000,"1,120,432.8700"
10,0058,0988,2,8,10,"1,060.0000","5,109,293.2750","5,110,353.2750",0,7,7,0.0000,"4,899,933.4850","4,899,933.4850",2,1,3,"1,060.0000","209,359.7900","210,419.7900",0.0000,1.0000,1.0000,0.0000,"2,042.6250","2,042.6250",2.0000,2.0000,4.0000,"1,060.0000","240,094.1250","241,154.1250"
11,8519,0083,7,0,7,"78,329.5000",0.0000,"78,329.5000",8,0,8,"57,624.6531",0.0000,"57,624.6531",-1,0,-1,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
12,Total,,235,21,256,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240,21,261,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5,0,-5,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

In [7]:
renamed_dict = {
    'level60_operarea_id_': 'banca',
    'counterpart_id_': 'ctpa',
    'count_m_CP_m': 'n_cont_CP_m',
    'count_m_LP_m': 'n_cont_LP_m',
    'count_m_Total_m': 'n_cont_Tot_m',
    'sum_m_CP_m': 'rwas_CP_m',
    'sum_m_LP_m': 'rwas_LP_m',
    'sum_m_Total_m': 'rwas_Tot_m',
    'count_m1_CP_m1': 'n_cont_CP_m1',
    'count_m1_LP_m1': 'n_cont_LP_m1',
    'count_m1_Total_m1': 'n_cont_Tot_m1',
    'sum_m1_CP_m1': 'rwas_CP_m1',
    'sum_m1_LP_m1': 'rwas_LP_m1',
    'sum_m1_Total_m1': 'rwas_Tot_m1',
    'count_diff_CP_diff': 'n_cont_CP_diff',
    'count_diff_LP_diff': 'n_cont_LP_diff',
    'count_diff_Total_diff': 'num_cont_Tot_diff',
    'sum_diff_CP_diff': 'rwas_CP_diff',
    'sum_diff_LP_diff': 'rwas_LP_diff',
    'sum_diff_Total_diff': 'rwas_Tot_diff',
    'count_SA_CP_SA': 'n_cont_CP_SA',
    'count_SA_LP_SA': 'n_cont_LP_SA',
    'count_SA_Total_SA': 'n_cont_Tot_SA',
    'sum_SA_CP_SA': 'rwas_CP_SA',
    'sum_SA_LP_SA': 'rwas_LP_SA',
    'sum_SA_Total_SA': 'rwas_Tot_SA',
    'count_SI_mes_CP_SI_mes': 'n_cont_CP_SI_m',
    'count_SI_mes_LP_SI_mes': 'n_cont_LP_SI_m',
    'count_SI_mes_Total_SI_mes': 'n_cont_Tot_SI_m',
    'sum_SI_mes_CP_SI_mes': 'rwas_CP_SI_m',
    'sum_SI_mes_LP_SI_mes': 'rwas_LP_SI_m',
    'sum_SI_mes_Total_SI_mes': 'rwas_Tot_SI_m'
}

comparison_renamed=comparison.rename(mapper=renamed_dict, axis="columns")

In [ ]:
# analisis contrapartidas por bancas - m vs m1 vs SA vs SI_mes ()

In [8]:
comparison_renamed

,banca,ctpa,n_cont_CP_m,n_cont_LP_m,n_cont_Tot_m,rwas_CP_m,rwas_LP_m,rwas_Tot_m,n_cont_CP_m1,n_cont_LP_m1,n_cont_Tot_m1,rwas_CP_m1,rwas_LP_m1,rwas_Tot_m1,n_cont_CP_diff,n_cont_LP_diff,num_cont_Tot_diff,rwas_CP_diff,rwas_LP_diff,rwas_Tot_diff,n_cont_CP_SA,n_cont_LP_SA,n_cont_Tot_SA,rwas_CP_SA,rwas_LP_SA,rwas_Tot_SA,n_cont_CP_SI_m,n_cont_LP_SI_m,n_cont_Tot_SI_m,rwas_CP_SI_m,rwas_LP_SI_m,rwas_Tot_SI_m
0,0023,0083,2,0,2,"1,076,570.5250",0.0000,"1,076,570.5250",2,0,2,"422,977.8700",0.0000,"422,977.8700",0,0,0,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,0300,1,0,1,"389,789.0000",0.0000,"389,789.0000",1,0,1,"888,546.0600",0.0000,"888,546.0600",0,0,0,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,0010,7,0,7,"3,658,172.9250",0.0000,"3,658,172.9250",5,0,5,"2,896,673.0500",0.0000,"2,896,673.0500",2,0,2,"761,499.8750",0.0000,"761,499.8750",1.0000,0.0000,1.0000,"8,912.5000",0.0000,"8,912.5000",3.0000,0.0000,3.0000,"1,132,269.2750",0.0000,"1,132,269.2750"
3,0058,0083,189,8,197,"9,895,869.6100","7,321,578.1700","17,217,447.7800",191,9,200,"10,108,617.8602","7,211,491.3410","17,320,109.2012",-2,-1,-3,"-212,748.2502","110,086.8290","-102,661.4212",87.0000,2.0000,89.0000,"4,596,569.0924","52,773.0250","4,649,342.1174",85.0000,1.0000,86.0000,"4,504,783.9850","408,940.7500","4,913,724.7350"
4,0058,0252,7,0,7,"4,773,207.1200",0.0000,"4,773,207.1200",6,0,6,"4,451,920.2500",0.0000,"4,451,920.2500",1,0,1,"321,286.8700",0.0000,"321,286.8700",1.0000,0.0000,1.0000,"1,012,624.4400",0.0000,"1,012,624.4400",2.0000,0.0000,2.0000,"1,449,976.0000",0.0000,"1,449,976.0000"
5,0058,0300,10,0,10,"2,305,172.1500",0.0000,"2,305,172.1500",13,0,13,"1,677,815.3580",0.0000,"1,677,815.3580",-3,0,-3,"627,356.7920",0.0000,"627,356.7920",4.0000,0.0000,4.0000,"111,305.3200",0.0000,"111,305.3200",1.0000,0.0000,1.0000,"1,011,901.9000",0.0000,"1,011,901.9000"
6,0058,0501,0,3,3,0.0000,"243,857.9950","243,857.9950",0,3,3,0.0000,"247,560.5550","247,560.5550",0,0,0,0.0000,"-3,702.5600","-3,702.5600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,0058,0505,0,2,2,0.0000,"1,341,560.6500","1,341,560.6500",0,2,2,0.0000,"1,356,140.4677","1,356,140.4677",0,0,0,0.0000,"-14,579.8177","-14,579.8177",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8,0058,0511,2,0,2,"235,835.5000",0.0000,"235,835.5000",3,0,3,"226,904.7620",0.0000,"226,904.7620",-1,0,-1,"8,930.7380",0.0000,"8,930.7380",2.0000,0.0000,2.0000,"151,676.1400",0.0000,"151,676.1400",1.0000,0.0000,1.0000,"66,119.7500",0.0000,"66,119.7500"
9,0058,0516,8,0,8,"2,994,923.7700",0.0000,"2,994,923.7700",11,0,11,"3,381,870.2215",0.0000,"3,381,870.2215",-3,0,-3,"-386,946.4515",0.0000,"-386,946.4515",5.0000,0.0000,5.0000,"1,166,349.5315",0.0000,"1,166,349.5315",2.0000,0.0000,2.0000,"1,120,432.8700",0.0000,"1,120,432.8700"
10,0058,0988,2,8,10,"1,060.0000","5,109,293.2750","5,110,353.2750",0,7,7,0.0000,"4,899,933.4850","4,899,933.4850",2,1,3,"1,060.0000","209,359.7900","210,419.7900",0.0000,1.0000,1.0000,0.0000,"2,042.6250","2,042.6250",2.0000,2.0000,4.0000,"1,060.0000","240,094.1250","241,154.1250"
11,8519,0083,7,0,7,"78,329.5000",0.0000,"78,329.5000",8,0,8,"57,624.6531",0.0000,"57,624.6531",-1,0,-1,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
12,Total,,235,21,256,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240,21,261,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5,0,-5,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

In [10]:
with pd.ExcelWriter("comparison_final.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_renamed.to_excel(writer, sheet_name="diff_SI_SA_NO_b_ct", index=False)

#### Porcentages para contrapartida y banca y variaciones entre m y m1

In [9]:
# paso 1 - BASE de calculos: filtramos las columnas que nos interesan de la comparativa de conteo de contratos y sumatorio de rwas
# --------------------------------

comparison_renamed_filtered = comparison_renamed.loc[:,['banca', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff']]
comparison_renamed_filtered

    banca  ctpa      rwas_Tot_m     rwas_Tot_m1  rwas_Tot_diff
0    0023  0083  1,076,570.5250    422,977.8700   653,592.6550
1    0023  0300    389,789.0000    888,546.0600  -498,757.0600
2    0058  0010  3,658,172.9250  2,896,673.0500   761,499.8750
3    0058  0083 17,217,447.7800 17,320,109.2012  -102,661.4212
4    0058  0252  4,773,207.1200  4,451,920.2500   321,286.8700
5    0058  0300  2,305,172.1500  1,677,815.3580   627,356.7920
6    0058  0501    243,857.9950    247,560.5550    -3,702.5600
7    0058  0505  1,341,560.6500  1,356,140.4677   -14,579.8177
8    0058  0511    235,835.5000    226,904.7620     8,930.7380
9    0058  0516  2,994,923.7700  3,381,870.2215  -386,946.4515
10   0058  0988  5,110,353.2750  4,899,933.4850   210,419.7900
11   8519  0083     78,329.5000     57,624.6531    20,704.8469
12  Total       39,425,220.1900 37,828,075.9335 1,597,144.2565

In [10]:
# === 2. Porcentajes por banca y ctpa ===

comparison_renamed_filtered['pct_var_rwas_MoM'] = (
    ((comparison_renamed_filtered['rwas_Tot_m'] - comparison_renamed_filtered['rwas_Tot_m1']) / 
     comparison_renamed_filtered['rwas_Tot_m1'].replace(0, pd.NA))
)

grand_total_m = comparison_renamed_filtered.loc[comparison_renamed_filtered['banca'] == 'Total', 'rwas_Tot_m'].values[0]
grand_total_m1 = comparison_renamed_filtered.loc[comparison_renamed_filtered['banca'] == 'Total', 'rwas_Tot_m1'].values[0]

comparison_renamed_filtered['Grand_Tot_m'] = grand_total_m
comparison_renamed_filtered['Grand_Tot_m1'] = grand_total_m1

# Compute the new column
comparison_renamed_filtered['pct_Grand_Tot_m'] = comparison_renamed_filtered['rwas_Tot_m'] / grand_total_m
comparison_renamed_filtered['pct_Grand_Tot_m1'] = comparison_renamed_filtered['rwas_Tot_m1'] / grand_total_m1

comparison_renamed_filtered['pct_var_GT_MoM'] = (
    ((comparison_renamed_filtered['pct_Grand_Tot_m'] - comparison_renamed_filtered['pct_Grand_Tot_m1']) / 
     comparison_renamed_filtered['pct_Grand_Tot_m1'].replace(0, pd.NA))
)

# Totales por banca y ctpa
comparison_renamed_filtered['ctpa_Tot_m'] = comparison_renamed_filtered.groupby(['ctpa'])['rwas_Tot_m'].transform('sum')
comparison_renamed_filtered['ctpa_Tot_m1'] = comparison_renamed_filtered.groupby(['ctpa'])['rwas_Tot_m1'].transform('sum')

comparison_renamed_filtered['ctpa_Tot_diff'] = comparison_renamed_filtered['ctpa_Tot_m'] - comparison_renamed_filtered['ctpa_Tot_m1']

# % por ctpa dentro de banca (m y m1)
comparison_renamed_filtered['pct_ctpa_Tot_m'] = (comparison_renamed_filtered['rwas_Tot_m'] / comparison_renamed_filtered['ctpa_Tot_m'])
comparison_renamed_filtered['pct_ctpa_Tot_m1'] = (comparison_renamed_filtered['rwas_Tot_m1'] / comparison_renamed_filtered['ctpa_Tot_m1'])

comparison_renamed_filtered['pct_var_ctpa_Tot_MoM'] = (
    ((comparison_renamed_filtered['pct_ctpa_Tot_m'] - comparison_renamed_filtered['pct_ctpa_Tot_m1']) / 
     comparison_renamed_filtered['pct_ctpa_Tot_m1'].replace(0, pd.NA))
)

ordered_list = [
    'banca',
    'ctpa',
    'rwas_Tot_m',
    'Grand_Tot_m',
    'pct_Grand_Tot_m',
    'rwas_Tot_m1',
    'Grand_Tot_m1',
    'pct_Grand_Tot_m1',
    'rwas_Tot_diff',
    'pct_var_rwas_MoM',
    'pct_var_GT_MoM',
    'ctpa_Tot_m',
    'pct_ctpa_Tot_m',
    'ctpa_Tot_m1',
    'pct_ctpa_Tot_m1',
    'ctpa_Tot_diff',
    'pct_var_ctpa_Tot_MoM'
]

comparison_renamed_filtered_final = comparison_renamed_filtered.loc[:,ordered_list]

cols_to_blank_zero = [
    'ctpa_Tot_m',
    'ctpa_Tot_m1',
    'pct_ctpa_Tot_m',
    'pct_ctpa_Tot_m1',
    'ctpa_Tot_diff',
    'pct_var_ctpa_Tot_MoM'
    
]

# Set values in last row (index 12) to blank (None or NaN)
#df.loc[12, cols_to_blank] = None
#comparison_renamed_filtered_final.loc[comparison_renamed_filtered_final['area_id'] == 'Total', cols_to_blank_zero] = None

# Set those columns to 0.00 for the 'Total' row (row 12 or where area_id == 'Total')
comparison_renamed_filtered_final.loc[comparison_renamed_filtered_final['banca'] == 'Total', cols_to_blank_zero] = 0.0000


#comparison_renamed_filtered_final.loc['12',['ctpa_total_m','ctpa_total_m1', 'pct_ctpa_totales_m', 'pct_ctpa_totales_m1','pct_ctpa_mom_totales_rel']] = 0.0000

In [102]:
653592.6550/422977.87

1.5452171410291513

In [26]:
comparison_renamed_filtered_final

,banca,ctpa,rwas_Tot_m,Grand_Tot_m,pct_Grand_Tot_m,rwas_Tot_m1,Grand_Tot_m1,pct_Grand_Tot_m1,rwas_Tot_diff,pct_var_rwas_MoM,pct_var_GT_MoM,ctpa_Tot_m,pct_ctpa_Tot_m,ctpa_Tot_m1,pct_ctpa_Tot_m1,ctpa_Tot_diff,pct_var_ctpa_Tot_MoM
0,0023,0083,"1,076,570.5250","39,425,220.1900",0.0273,"422,977.8700","37,828,075.9335",0.0112,"653,592.6550",1.5452,1.4421,"18,372,347.8050",0.0586,"17,800,711.7243",0.0238,"571,636.0807",1.4660
1,0023,0300,"389,789.0000","39,425,220.1900",0.0099,"888,546.0600","37,828,075.9335",0.0235,"-498,757.0600",-0.5613,-0.5791,"2,694,961.1500",0.1446,"2,566,361.4180",0.3462,"128,599.7320",-0.5823
2,0058,0010,"3,658,172.9250","39,425,220.1900",0.0928,"2,896,673.0500","37,828,075.9335",0.0766,"761,499.8750",0.2629,0.2117,"3,658,172.9250",1.0000,"2,896,673.0500",1.0000,"761,499.8750",0.0000
3,0058,0083,"17,217,447.7800","39,425,220.1900",0.4367,"17,320,109.2012","37,828,075.9335",0.4579,"-102,661.4212",-0.0059,-0.0462,"18,372,347.8050",0.9371,"17,800,711.7243",0.9730,"571,636.0807",-0.0369
4,0058,0252,"4,773,207.1200","39,425,220.1900",0.1211,"4,451,920.2500","37,828,075.9335",0.1177,"321,286.8700",0.0722,0.0287,"4,773,207.1200",1.0000,"4,451,920.2500",1.0000,"321,286.8700",0.0000
5,0058,0300,"2,305,172.1500","39,425,220.1900",0.0585,"1,677,815.3580","37,828,075.9335",0.0444,"627,356.7920",0.3739,0.3183,"2,694,961.1500",0.8554,"2,566,361.4180",0.6538,"128,599.7320",0.3084
6,0058,0501,"243,857.9950","39,425,220.1900",0.0062,"247,560.5550","37,828,075.9335",0.0065,"-3,702.5600",-0.0150,-0.0549,"243,857.9950",1.0000,"247,560.5550",1.0000,"-3,702.5600",0.0000
7,0058,0505,"1,341,560.6500","39,425,220.1900",0.0340,"1,356,140.4677","37,828,075.9335",0.0359,"-14,579.8177",-0.0108,-0.0508,"1,341,560.6500",1.0000,"1,356,140.4677",1.0000,"-14,579.8177",0.0000
8,0058,0511,"235,835.5000","39,425,220.1900",0.0060,"226,904.7620","37,828,075.9335",0.0060,"8,930.7380",0.0394,-0.0027,"235,835.5000",1.0000,"226,904.7620",1.0000,"8,930.7380",0.0000
9,0058,0516,"2,994,923.7700","39,425,220.1900",0.0760,"3,381,870.2215","37,828,075.9335",0.0894,"-386,946.4515",-0.1144,-0.1503,"2,994,923.7700",1.0000,"3,381,870.2215",1.0000,"-386,946.4515",0.0000
10,0058,0988,"5,110,353.2750","39,425,220.1900",0.1296,"4,899,933.4850","37,828,075.9335",0.1295,"210,419.7900",0.0429,0.0007,"5,110,353.2750",1.0000,"4,899,933.4850",1.0000,"210,419.7900",0.0000
11,8519,0083,"78,329.5000","39,425,220.1900",0.0020,"57,624.6531","37,828,075.9335",0.0015,"20,704.8469",0.3593,0.3042,"18,372,347.8050",0.0043,"17,800,711.7243",0.0032,"571,636.0807",0.3170
12,Total,,"39,425,220.1900","39,425,220.1900",1.0000,"37,828,075.9335","37,828,075.9335",1.0000,"1,597,144.2565",0.0422,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [27]:
stacked = comparison_renamed_filtered_final.iloc[:,[0,1,4]]
stacked = stacked.iloc[:-1]
stacked

   banca  ctpa  pct_Grand_Tot_m
0   0023  0083           0.0273
1   0023  0300           0.0099
2   0058  0010           0.0928
3   0058  0083           0.4367
4   0058  0252           0.1211
5   0058  0300           0.0585
6   0058  0501           0.0062
7   0058  0505           0.0340
8   0058  0511           0.0060
9   0058  0516           0.0760
10  0058  0988           0.1296
11  8519  0083           0.0020

In [ ]:
| **Column Name**            | **Description**                                                                                                                                                  |
| -------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `area_id`                  | The identifier for a geographic or organizational **area**. Example: `"0023"`, `"0058"`, etc.                                                                    |
| `ctpa_id`                  | The identifier for a specific **CTPA** (could refer to a cost type, product, service line, or account category).                                                 |
| `rwas_Total_m`             | Total APRs de la contrapartida en la banca asociada en el mes actual (m). (ya es un agrupado que representa el 100% de los APRs de la contrapartida en la banca asociada).                             |
| `rwas_Total_m1`            | Total APRs de la contrapartida en la banca asociada en el mes anterior (m1). (ya es un agrupado que representa el 100% de los APRs de la contrapartida en la banca asociada).                                                                                         |
| `rwas_Total_diff`          | Variacion neta de total de APRs de la contrapartida en la banca asociada en el mes actual (m).vs mes anterior (m1). `rwas_Total_m - rwas_Total_m1`.  
|
| `pct_ctpa_mom_rel`         | Variacion relativa de total de APRs de la contrapartida en la banca asociada en el mes actual (m).vs mes anterior (m1). `rwas_Total_diff / rwas_Total_m1`. Expresses growth or decline as a proportion.                               |
                     
| `ctpa_total_m`             | Total neto de APRs que representa esa contrapartida en el mes actual respecto al total de APRs de la misma contrapartida.                                                                 |
| `ctpa_total_m1`            | Total neto de APRs que representa esa contrapartida en el mes anterior respecto al total de APRs de la misma contrapartida.
                     
| `pct_ctpa_totales_m`       | Peso en porcentaje de APRs que representa esa contrapartida en el mes actual respecto al total de APRs de la misma contrapartida.(`rwas_Total_m / ctpa_total_m`.)                      |
| `pct_ctpa_totales_m1`      | Peso en porcentaje de APRs que representa esa contrapartida en el mes anterior respecto al total de APRs de la misma contrapartida. (`rwas_Total_m1 / ctpa_total_m1`.)                  |
| `pct_ctpa_mom_totales_rel` |Variacion relativa del peso en porcentaje de APRs que representa esa contrapartida en el mes actual respecto al peso en porcentaje de APRs de la misma contrapartida en el mes anterior. (`pct_ctpa_totales_m / pct_ctpa_totales_m1 - 1`, showing how the proportion of contribution changed. )

In [20]:
with pd.ExcelWriter("comparison_final.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_renamed_filtered_final.to_excel(writer, sheet_name="diff_banca_ctpa", index=False)

In [ ]:
peso de la contrapartida-banca respecto al total de APRs.

In [ ]:
Example Interpretation of Row 0:

Area 0023, CTPA 0083 had:

RWAS increase from 422,977.87 (m-1) to 1,076,570.53 (m), a +1.55x growth.

This combination contributed to 5.86% of the total CTPA value in month m vs. 2.38% in m-1.

Its relative share change: +1.466x more importance in the CTPA total than the month before.

In [ ]:
# === 3. 

comparison_renamed_filtered['pct_ctpa_vs_banca_rel'] = (
    ((comparison_renamed_filtered['pct_ctpa_vs_banca_m'] - comparison_renamed_filtered['pct_ctpa_vs_banca_m1']) / 
     comparison_renamed_filtered['pct_ctpa_vs_banca_m1'].replace(0, pd.NA)) * 100
)

# === Redondear ===
cols_to_round = [
    'pct_ctpa_vs_banca_m', 'pct_ctpa_vs_banca_m1','pct_ctpa_vs_banca_rel'
]

comparison_renamed_filtered_perct = comparison_renamed_filtered.loc[:,['area_id', 'ctpa_id','rwas_Total_m','rwas_Total_m1','rwas_Total_diff'] + cols_to_round].round(2)

In [ ]:
# analisis clientes
pd.options.display.max_rows = 70
clim = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim1 = pool_m1.pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

In [ ]:
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare = [
    'contract_id',
    'prof_ratio_rorc_amount',
    'rwas_regul_capital_amount'
]

# Calculate the difference for the selected columns
cli_m_m1 = clim[cols_to_compare].sub(clim1[cols_to_compare], fill_value=0)

# Concatenate for side-by-side comparison
comparisoncli = pd.concat(
    [
        clim[cols_to_compare].add_suffix('_m2'),
        clim1[cols_to_compare].add_suffix('_m_12'),
        cli_m_m1.add_suffix('_diff'),
        clim_SA.add_suffix('_SA'),
        clim_SI_mes.add_suffix('_SI_mes')
    ],
    axis=1
)

comparisoncli

In [ ]:
cols_to_save = [
    'level60_operarea_id', 'customer_id',  # add index columns
    'contract_id_m2', 'prof_ratio_rorc_amount_m2',
       'rwas_regul_capital_amount_m2', 'contract_id_m_12',
       'prof_ratio_rorc_amount_m_12', 'rwas_regul_capital_amount_m_12',
       'contract_id_diff', 'prof_ratio_rorc_amount_diff',
       'rwas_regul_capital_amount_diff', 'contract_id_SA',
       'prof_ratio_rorc_amount_SA', 'rwas_regul_capital_amount_SA',
       'contract_id_SI_mes', 'prof_ratio_rorc_amount_SI_mes',
       'rwas_regul_capital_amount_SI_mes'
]

# Reset index to include index columns as regular columns
comparisoncli_reset = comparisoncli.reset_index()

In [ ]:
comparisoncli_reset